@import "tailwindcss";

@theme {
  --animate-bounce-short: bounce 0.5s ease-in-out 1;
  --animate-fade-in: fadeIn 0.6s cubic-bezier(0.16, 1, 0.3, 1);

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer base {
  body {
    @apply bg-stone-50 text-stone-900;
    font-family: 'Poppins', sans-serif;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}